---
import Logo from "../components/Logo.astro";

export interface Props {
  crypto: string;
  symbol: string;
  address: string;
  // make qr a boolean optional and true by default
  qr?: boolean;
}

let { crypto, symbol, address, qr } = Astro.props as Props;

if (!qr) {
  qr = true;
}

let copyButtonClass = "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded";
---

<h3>
  <Logo src={crypto.toLowerCase()} alt={crypto + " logo"} size={30} />
  {" "}
  {crypto}
</h3>
<div class="w-full mb-2">
  <code class="text-md sm:text-xl">{address}</code>
</div>
<div class="flex items-center gap-4">
  <button data-crypto-button class={copyButtonClass} id={crypto + "-copy-button"}>Copy Address</button>
  {
    qr && (
      <>
        <a class="cursor-pointer" href={`https://api.qrserver.com/v1/create-qr-code/?size=500x500&data=${address}`} target="_blank">
          <img src={`https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=${address}`} alt={crypto + " address"} class="w-11" />
        </a>
      </>
    )
  }
</div>
<hr />

<script>
  const buttons = document.querySelectorAll("[data-crypto-button]");

  buttons.forEach((button) => {
    button.addEventListener("click", () => {
      copyAddress(button);
    });
  });

  const copyAddress = (button: Element) => {
    console.log("teste");
    navigator.clipboard.writeText(button.parentElement!.previousElementSibling!.textContent!.trim());
    button.textContent = "Copied!";
    button.className = "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded";

    setTimeout(() => {
      button.textContent = "Copy Address";
      button.className = "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded";
    }, 900);
  };
</script>
