---
import Logo from "../components/Logo.astro";
import { Image } from "@astrojs/image/components";

export interface Props {
  crypto: string;
  symbol: string;
  address: string;
  // make qr a boolean optional and true by default
  qr?: boolean;
}

let { crypto, symbol, address, qr } = Astro.props as Props;

if (!qr) {
  qr = true;
}
---

<h3>
  <Logo src={crypto.toLowerCase()} alt={crypto + " logo"} size={30} />
  {" "}
  {crypto}
</h3>
<div class="w-full mb-2">
  <code class="text-md sm:text-xl">{address}</code>
</div>
<div class="flex items-center gap-4">
  <button data-crypto-button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" id={crypto + "-copy-button"}>Copy {symbol} address</button>
  {
    qr && (
      <>
        <a class="cursor-pointer" href={`/qr/${crypto.toLowerCase()}.png`} target="_blank">
          <Image src={`/qr/${crypto.toLowerCase()}.png`} alt={`${crypto} Wallet QR Code`} format="webp" width={43.68 * 2} height={43.68 * 2} style="width: 43.68px; height: 43.68px;" quality={0.0000001} />
        </a>
      </>
    )
  }
</div>
<hr />

<script>
  const buttons = document.querySelectorAll("[data-crypto-button]");

  buttons.forEach((button) => {
    button.addEventListener("click", () => {
      copyAddress(button);
    });
  });

  const copyAddress = (button: Element) => {
    navigator.clipboard.writeText(button.parentElement!.previousElementSibling!.textContent!.trim());
    const content = button.textContent;
    button.textContent = "Copied!";
    button.className = "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded";

    setTimeout(() => {
      button.textContent = content;
      button.className = "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded";
    }, 900);
  };
</script>
